body{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
#border1{
	border:1px solid #053e45;
	border-radius: 20px;
	padding: 10px 40px;
	color: #053e45;
}
.inner1{
	width: 1173px;
	margin: auto;
}
.nav1{
	overflow: hidden;
	height: 40px;
	background-color: #0a7391;
}
.container1{
	height: 40px;
}
ul.icons{
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 15px 0px 10px 40px;
	font-size: 13px;
}
ul.icons li{
	display: inline;
}
ul.icons li a{
    color: white;
    text-decoration: none;
    padding: 2px;
}
ul.right{
	float: right;
	padding: 0px;
	margin: 11px 0px 11px 20px;
}
ul.right li{
	display: inline;
	padding: 5px;
	font-size: 12px;
	margin: 0;
}
ul.right li a{
	color: white;
    text-decoration: none;
    padding: 2px;
}
.nav2{
	background-color: #ffffff;
	color: black;
	overflow: hidden;
	height: 80px;
}
.container2{
	height: 80px;
}
.container2 .brand{
	float: left;
	height: 80px;
	width: 300px;
	margin: 4px 0 0 0;
}

.brand a img{
	padding: 0px 0px 0px 50px;
	width: 190px;
	height: 75px;
}
.right2 ul{
	float: right;
	margin: 30px 0px;
	padding: 0px;
}
.right2 ul li{
	display: inline;
	font-size: 12px;
}
.right2 ul a{
	text-decoration: none;
	padding: 11px;
	color: #000000;
}
.section{
	height: 455px;
	width: 100%;
	overflow: hidden;
	background: url("meeting.jpg") no-repeat center;
	background-size: cover;
	position: relative;
}
.section h1{
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: red;
	font-weight: normal;
}
.icons{
	
}